body {
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #3a5d86
}

.container h1, h2{
    color: white;
}

.container div, .container-2 div {
    border: 1px #ccc solid;
    padding: 10px;
}

.container-2 {
    display:flex;
}

.item-1 {
    
}

.item-2 {
    width: 60%;
}

.item-3 {
    width: 40%;
    background: #e7e7e7
}

hr {
    border: none;
    height: 5px;
    background-color: #3a5d86;
}